* {
    font-family: "Montserrat", "sans-serif";
    box-sizing: border-box;
    color: #424242;
}

@font-face {
    font-family: Montserrat;
    src: url(./static/Montserrat-Light.ttf);
    font-weight: 300;

}

@font-face {
    font-family: Montserrat;
    src: url(./static/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(./static/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(./static/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(./static/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar-right {
    display: flex;
    align-items: center;
}

.nav-bar-right ul {

    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-weight: 500;

}



.nav-bar-right li.active {
    color: #5A47AB;
    font-weight: 600;
}



/* .nav-bar {
    border: 5px blue solid;
    display: flex;
    margin: 0px;
    flex-direction: row;
    height: 30px;
    align-items: space-between;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    font-size: 60px;
    list-style: none;

}

.nav-bar-left {

    display: flex;
    width: 300px;
    height: 40px;


} */

.app__showcase {
    display: flex;
    margin-top: 100;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.app__showcase-info {
    padding: 0 5rem;
    width: 60%;
}

.app__showcase-image {
    width: 40%;
}

.app__showcase-info h1,
h3 {
    font-size: 52px;
    margin: 0;


}


.app__showcase-info h1 {
    font-weight: bold;
    color: #d05270;

}

.app__showcase-info h3 {
    font-weight: 500;

}

.app__showcase-info p {
    font-weight: 400;
    font-size: 18
}


.app__showcase-image {
    flex: 4;
    padding: 0 5rem;

}

.icons {
    display: flex;
    gap: 50px;
    align-items: space-between;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;


}


.icons a:first-child {
    background-color: rgb(30, 177, 235);
    font-size: 49px;
    padding: 5px 105px;
}

.icons :nth-child(2) {
    background-color: rgb(18, 120, 160);
    padding: 5px 105px;
    font-size: 49px;
    text-align: center;
    justify-content: center;
}


.icons :nth-child(3) {
    background-color: rgb(17, 63, 82);
    padding: 5px 105px;
    font-size: 49px;
    text-align: center;
    justify-content: center;
}


.app__blog-categories .item {
    font-size: 18px;
    font-weight: 500;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 30px;
}


.app__blog-categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow-x: hidden;
}

.app__blog-categories .item.active {
    color: rgb(189, 62, 105);
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid rgb(189, 62, 105);

}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 200px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.app__post-list {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1, 1;
    margin-top: 80px;
}


.card {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 800px;
    height: 100%;
    position: center;
}

.cards .card .post-detail {
    color: #d05270;
    border-bottom: 5px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.cards .card h3 {
    color: #d05270;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;

}

.cards .card .post-date {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.cards .card .post-info {
    font-weight: 400;
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 150px;

}

.about h1 {
    font-weight: bold;
    font-size: 42px;
    color: #3a19cadc;
    margin-right: 200px;
    margin-left: 100px;

}

.about h2 {
    font-weight: bold;
    font-size: 36px;
    color: #3a19cadc;
    margin-right: 200px;
    margin-left: 100px;

}

.about h3 {
    font-weight: bold;
    font-size: 24px;
    color: #3a19cadc;
    margin-right: 200px;
    margin-left: 100px;

}


.about {
    width: 100%;
    display: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: center;

}

.about p {
    font-weight: 500;
    font-size: 24;
    line-height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 200px;
    margin-left: 100px;
}

.nav-bar-right i {
    display: none;
}


@media only screen and (max-width:1150px) {
    .app__showcase-image {
        display: none;
    }

    .app__showcase-info {
        width: 100%;
    }

    .icons {
        gap: 10px;

    }

    .icons a:first-child {
        padding: 5px 85px;
    }

    .icons :nth-child(2) {
        padding: 5px 85px;
    }


    .icons :nth-child(3) {
        padding: 5px 85px;
    }
}

@media only screen and (max-width:850px) {
    .app__blog-categories .item {
        font-size: 13px;
        gap: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .app__blog-categories {
        padding-left: 0;
        margin-left: 0;
    }

    .about p {
        font-size: 14px;
        margin: 0;
    }

    .about h1,
    h2,
    h3 {
        font-weight: bold;
        font-size: 20px;
        /*  */
        color: #3a19cadc;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin: 0;
    }

    .about h2 {
        margin: 0;
        font-size: 18px;
    }

    .about h3 {
        margin: 0;
        font-size: 16px;

    }

    .icons {
        gap: 10px;

    }

    .icons a:first-child {
        padding: 5px 35px;
    }

    .icons :nth-child(2) {
        padding: 5px 35px;
    }


    .icons :nth-child(3) {
        padding: 5px 35px;
    }


    .card {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .card img {
        width: 100%;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        
    }

    
}
    body {
        margin: auto;
        width: 90%
    }

    .app__showcase {
        width: 100%;
        margin: auto;
        gap: 0;
        font-size: 20;
        font-weight: medium;
        margin-right: 10px;
        align-items: stretch
    }




    .app__showcase-info {
        padding: 0;
        margin: 0
    }

    .app__showcase-image {
        padding-left: 0;
        margin-left: 0;

    }

    .app__showcase-img {
        width: 50px
    }


    .nav-bar-right ul {
        padding-left: 50px;
        margin-right: 5px;
        width: 100%;
        gap: 5px;
    }

    .nav-bar {
        margin-bottom: 30px
    }

    .app__blog-categories .item {
        gap: 3px;
        font-size: 20;
        margin-top: 20px;
    }

    .about .post-image {

        padding-left: 0;
        justify-content: left;
        margin-left: 0;
        width: 400;
        height: 350;
        padding-top: 0;
        margin-top: 0;
    }

    .app__showcase-image {
        display: none;
    }

    .about {
        padding-left: 10;
        margin-left: 0;
    }

    .nav-bar-right {
        position: relative;
    }

    .nav-bar-right i {
        display: flex;
        font-size: 25px;
    }

    .nav-bar-right ul {
        display: none;
    }

    .nav-bar-right:hover ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 80px;
        top: 20px;
    }




.about .post-image {

    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 500px;

}